<template>
  <div>
    <Header />
    <img src="../assets/rickandmorty.png" width="320" alt="" />
    <div>
      <div class="demo-input-size">
        <el-input
          size="medium"
          placeholder="Ingrese un personaje"
          v-model="search"
          width="250"
          @input="searchCharacter()"
        ></el-input>
      </div>
      <el-row
        :gutter="20"
        type="flex"
        justify="space-between"
        style="margin-top: 125px"
      >
        <Character
          v-for="character in characters"
          :key="character.id"
          :character="character"
        />
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import API from "../utils/api";

import Header from "../components/Header.vue";
import Character from "../components/Character.vue";

export default Vue.extend({
  name: "Home",
  data() {
    return {
      characters: [],
      search: "",
    };
  },
  components: {
    Header,
    Character,
  },
  created() {
    this.getCharacters();
  },
  methods: {
    async getCharacters() {
      const response = await API.get("/character");
      const { info, results } = response.data;
      this.characters = results;
    },
    async searchCharacter() {
      if (this.search.length > 5) {
        this.characters = [];
        const response = await API.get(`/character?name=${this.search}`);
        const { results } = response.data;
        this.characters = results;
      } else {
        this.getCharacters();
      }
    },
  },
});
</script>
<style lang="css">
.el-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
