<template>
  <div>
    <el-row>
      <el-col :span="12">
        <el-card :body-style="{ padding: '0px' }">
          <img :src="`${character.image}`" class="image" />
          <div style="padding: 14px">
            <p>{{ character.name }}</p>
            <p>{{ character.species }} - {{ character.status }}</p>
            <div class="bottom clearfix">
              <el-button
                type="text"
                class="button"
                @click="centerDialogVisible = true"
                >Ver más</el-button
              >
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-dialog title="" :visible.sync="centerDialogVisible" width="30%" center>
      <img src="../assets/rick-morty-banner.png" width="100%" alt="" />
      <el-row :gutter="20" type="flex" justify="unset">
        <el-col :span="16">
          <div>
            <img
              width="480"
              style="display: block; margin: 0; object-fit: cover"
              :src="`${character.image}`"
            />
          </div>
        </el-col>
      </el-row>
      <h3>{{ character.name }}</h3>
      <h4>{{ character.species }} - {{ character.status }}</h4>
      <h4>{{ character.origin.name }}</h4>
      <h4>{{ character.location.name }}</h4>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="centerDialogVisible = false"
          >Cerrar</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script lang="ts">
export default {
  props: ["character"],
  data() {
    return {
      centerDialogVisible: false,
    };
  },
  methods: {},
};
</script>

<style>
.main {
  background: url("../assets/rick-morty-banner.png") no-repeat;
}
img.center {
  display: block;
  margin: 0 auto;
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
</style>
