<template>
  <div>
    <el-container>
      <el-header>
        <div class="demo-image__placeholder">
          <img src="../assets/portal-morty-smith-rick.png" width="320" alt="" />
        </div>
      </el-header>
    </el-container>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
